@keyframes height-100 {
    to { height: 100%; }
}
@keyframes height-0 {
    from { height: 100%; }
    to { height: 0; }
}

@keyframes width-100 {
    to {  width: 100%; }
}
@keyframes width-0 {
    from { width: 100%; }
    to {  width: 0; }
}

@keyframes fade-up-reveal {
    from {
        opacity: 0;
        transform: translateY(10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes fade-down-reveal {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fade-down-exit {
    from {
        opacity: 1;
        transform: translateY(0);
    }
    to {
        opacity: 0;
        transform: translateY(10px);
    }
}
@keyframes fade-up-exit {
    from {
        opacity: 1;
        transform: translateY(0);
    }
    to {
        opacity: 0;
        transform: translateY(-10px);
    }
}

@keyframes top-right-corner-expand {
    from {
        top: 0;
        right: 0;
    }
    to {
        top: 5px; 
        right: 5px;
    }
}