* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Geist', sans-serif;
}

html, body {
    width: 100%;
    height: 100%;

    background-color: var(--black);
}

:root {
    --black: #0f0f0f;
    --red: #e9204f;
    --white: #e3e3e3;
    --off-white: #b3aaa3;

    --mobile-p-text: 16px;
    --mobile-s-text: 14px;

    --dotted-bg: var(--red);
    --dotted-bg-size: 1px;
    --dotted-bg-opacity: .5;
}

#main {
    z-index: 2;
    width: 100dvw;
    height: 100dvh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.dotted-bg {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh; 
    
    background-image: radial-gradient(var(--red) var(--dotted-bg-size), transparent var(--dotted-bg-size));
    background-size: 35px 35px;

    opacity: var(--dotted-bg-opacity);
}

.action-text {
    position: relative;
    width: min-content;

    font-size: 24px;
    color: var(--white);
    font-weight: 600;

    border-left: 5px solid var(--white);
    padding-left: 5px;
}
.action-text > .br-corner-v1 {
    bottom: -2px;
    right: -7px;
    border-color: var(--white);
}


#error-popup {
    width: 100%;
    height: 30px;

    display: flex;
    justify-content: center;
    align-items: center;

    color: var(--red);
    font-size: var(--mobile-s-text);

    opacity: 0;
}