.submit-wrapper {
    position:relative;
    width: 100%;

    display: flex;
    flex-direction: column;
    gap: 5px;

    transition: opacity .2s ease-out; 
}

.button-progress-bar {
    width: 100%;
    height: 50px;

    background: linear-gradient(to top, var(--red) 50%, rgba(117, 117, 117, 0.1) 50%);
    background-size: 100% 200%;

    transition: background-position 0.5s ease-out;
}

.button-progress-bar > button {
    width: 100%;
    height: 100%;

    /* opacity: 0; */
    background: none;
    border: none;

    color:var(--white);
    font-size: var(--mobile-p-text);
    font-weight: 600;

    opacity: 0;
    pointer-events: none;
    cursor: pointer;
}
/* .button-progress-bar:has(> button:active) {
    opacity: .5;
} */

.submit-wrapper > div:last-child {
    width: 100%;
    height: 5px;

    display: flex;
    flex-direction: row;
    gap: 5px;
}

.item-progress-bar {
    width: 100%;
    height: 100%;

    background: linear-gradient(to right, var(--red) 50%, rgba(117, 117, 117, 0.1) 50%);
    background-size: 200% 100%;
    background-position: right;

    transition: background-position 1s ease-out;
}


/* .submit-wrapper:hover .button-progress-bar {
    background-position: bottom;
}
.submit-wrapper:hover .button-progress-bar > button {
    animation: fade-down-reveal 0.3s ease-out forwards;
    animation-delay: .3s;
}
.submit-wrapper:hover .item-progress-bar {
    background-position: left;
} */